#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    row-gap: 1rem;
}

#footer div{
    display: flex;
    column-gap: 12rem;
}

#footer div h4{
    display: flex;
    column-gap: 12rem;
    margin: 0;
}

#footer h5{
    margin: 0;
    font-weight: normal;
}

#footer div h4:hover{
    color: var(--bright-pink);
    cursor: pointer;
}